.box {
  background-color: #ffffff;

  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.fs {
  background-color: #453831;
  height: 41px;
  width: 41px;
  border-radius: 9.3px;
  padding-left: 11.6px;
  padding-right: 11.69px;
  padding-top: 12.8px;
  padding-bottom: 12.8px;
  display: flex;
  flex-direction: column;
  gap: 11.6px;
  top: 3.5px;
  position: relative;
}

.imgConfirmaciones {
  background-image: url("../../../assets/images/confirmDashChart.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.imgPendiente {
  background-image: url("../../../assets/images/pendingDashChart.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.imgRechados {
  background-image: url("../../../assets/images/rejectedDashChart.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

div > h3.text-sm + span.text-xs {
  max-width: 180px;
  display: block;
}
