<div class="flex">
  <app-menu></app-menu>
  <div class="w-full">
    <app-header></app-header>
    <div class="bg-gray-100 w-full h-full py-1">
      <div class="flex bg-white mx-5 my-5 rounded-lg box drop-shadow-sm w-fit">
        <div class="flex flex-col drop-shadow gap-6 flex-grow">
          <div class="flex gap-3 ">
            <div class="fs flex justify-center items-center">
              <img src="../../../assets/images/userIcon.png" alt="User Icon">
            </div>
            <div class="flex flex-col gap-8">
              <div>
                <h2 class="text-lg font-medium">{{ user?.nombreCompleto || 'Nombre de Usuario' }}</h2>
                <span class="text-sm text-[#666666]">{{ user?.rol.nombre || 'Rol del Usuario' }}</span>
              </div>
            </div>
          </div>
          <div>
            <span class="text-base font-medium">Bienvenido</span>
            <p class="text-sm text-[#666666] w-[65ch]">
               Es un placer contar nuevamente con usted. Esperamos que esté teniendo un excelente día. Gracias por formar parte de nuestros equipo. 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
