<div class="w-full h-20 bg-white px-7 py-5 flex justify-center">
    <h1 class="font-bold pt-2"> {{this.pagina}} </h1>
    <span class="example-spacer"></span>
    <div class="">
        <button type="button" style="color: #151D48;" class="justify-center inline-flex w-full rounded-md bg-whitetext-sm gap-2 font-semibold hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
          <div class="rounded-md bg-blue-200 pt-1.5 px-1.5 justify-center">
            <ng-icon  size="1.75em" name="heroUserSolid"></ng-icon>
        </div >
          <p class="pt-1.5"> {{this.user}} </p>
          <div class="pt-2.5">  
          <svg style="color: #151D48;" class="-mr-1 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
        </div>
          </button>
    </div>
    <div class="mx-2">

    </div>
    <div class="">
        <button type="button" class=" text-amber-500 inline-flex w-full rounded-md bg-whitetext-sm gap-2 font-semibold hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
          <div class="rounded-md bg-amber-100 pt-1.5 px-1.5">
            <ng-icon  size="1.75em" name="heroBell"></ng-icon>
        </div>
          </button>
    </div>
</div>
