<!-- evento-asamblea.component.html -->

<div class="w-full content-container">
  <app-header></app-header>
  <div class="card-container">
    <div class="card-row" *ngFor="let row of chunk(eventos, 3)">
      <div class="card" *ngFor="let evento of row">
        <h2>{{ evento.titulo }}</h2>
        <p>{{ evento.descripcion }}</p>
        <p>{{ evento.fecha }} - {{ evento.hora }}</p>
        <p>{{ evento.localizacion }}</p>
        <button class="confirm" (click)="confirmarAsistencia(evento.idEvento)">Confirmar Asistencia</button>
        <button class="reject" (click)="rechazarAsistencia(evento.idEvento)">Rechazar Asistencia</button>
      </div>
    </div>
  </div>
</div>
