<!-- evento-asamblea.component.html -->
<div class="header flex">
  <div class="lg-container">
    <img class="logo" src="../../../assets/images/logo.png" alt="Logo" />
  </div>
  <div class="bs-container">
    <p class="asumameko px-2">Bienvenido a Asomameco</p>
  </div>
</div>

<div class="content-container">
  <div class="card-container">
    <div class="lg-container">
      <ng-icon name="heroCheckCircle" size="15em"></ng-icon>
    </div>
    <div class="bs-container">
      <p class="info px-2">¡Gracias por su respuesta!</p>
    </div>
  </div>
</div>
