<div class="bg-white w-72 h-screen flex-col py-5 px-2">
    <!-- ========== INICIO Menú ERG ========== -->
    <div class="flex mx-5 my-2">
    <img class="logo" src="../../../assets/images/logo.png"/>
    <p class="asumameko px-2">Asuma<span class="meko">meko</span></p>
    </div>
  <!-- ==========  FIN Menú ERG ========== -->

   <!-- ========== Inicio Botones ERG ========== -->
    <div class="my-10">
        <button class="botones activo bg-transparent my-2">    
            <ng-icon name="heroChartPieSolid"></ng-icon>  <p> Dashboard </p> 
        </button>
        <button class="botones bg-transparent my-2">    
            <ng-icon name="octPerson"></ng-icon>  <p> Usuarios </p> 
        </button>
        <button class="botones bg-transparent my-2">    
            <ng-icon name="lucideCalendarRange"></ng-icon>  <p> Eventos </p> 
        </button>
        <button class="botones bg-transparent my-2">    
            <ng-icon name="lucideBarChart2"></ng-icon>  <p> Reportes </p> 
        </button>
        <button class="botones bg-transparent my-2">    
            <ng-icon name="lucideSettings"></ng-icon>  <p> Ajustes </p> 
        </button>
        <button class="botones bg-transparent my-2">    
            <ng-icon name="lucideLogOut"></ng-icon>  <p> Cerrar Sesión </p> 
        </button>

    </div>
    <!-- ==========  FIN Botones ERG ========== -->

</div>
