<!-- menu.component.html -->
<div class="bg-white h-screen flex-col py-5 px-8 sidebar-container">
  <!-- INICIO Menú -->
  <div class="flex my-2">
    <img class="logo" src="../../../assets/images/logo.png" alt="Logo" />
    <p class="asumameko px-2">Asomameco</p>
  </div>
  <!-- FIN Menú -->

  <!-- Inicio Botones -->
  <div class="my-10">
    <button class="botones bg-transparent my-2 menu-item" (click)="onItemSelected({ displayName: 'Dashboard', route: '/dashboard' })"
      [ngClass]="{
        'activo': router.isActive('/dashboard', true)
      }">
      <img class="icono" src="../../../assets/images/dashIcon.png" alt="Dashboard" *ngIf="authService.isAuthenticated" />
      <p>Dashboard</p>
    </button>
  
    <button class="botones bg-transparent my-2 menu-item" (click)="onItemSelected({ displayName: 'Usuarios', route: '/usuario' })"
      [ngClass]="{
        'activo': router.isActive('/usuario', true)
      }">
      <img class="icono" src="../../../assets/images/userDashIcon.png" alt="Usuarios" *ngIf="authService.isAuthenticated" />
      <p>Usuarios</p>
    </button>
  
    <button class="botones bg-transparent my-2 menu-item" (click)="onItemSelected({ displayName: 'Eventos', route: '/eventos' })"
      [ngClass]="{
        'activo': router.isActive('/eventos', true)
      }">
      <img class="icono" src="../../../assets/images/calendarDashIcon.png" alt="Eventos" *ngIf="authService.isAuthenticated" />
      <p>Eventos</p>
    </button>
  
    <button *ngIf="this.user?._rol.idRol === 1" class="botones bg-transparent my-2 menu-item" (click)="onItemSelected({ displayName: 'Reportes', route: '/reportes' })"
      [ngClass]="{
        'activo': router.isActive('/reportes', true)
      }">
      <img class="icono" src="../../../assets/images/reportDashIcon.png" alt="Reportes" />
      <p>Reportes</p>
    </button>
  
    <button class="botones bg-transparent my-2 menu-item" (click)="onItemSelected({ displayName: 'Ajustes', route: '/ajustes' })"
      [ngClass]="{
        'activo': router.isActive('/ajustes', true)
      }">
      <img class="icono" src="../../../assets/images/settingsDashIcon.png" alt="Ajustes" *ngIf="authService.isAuthenticated" />
      <p>Ajustes</p>
    </button>
  
    <button class="botones bg-transparent my-2 menu-item" (click)="onItemSelected({ displayName: 'Cerrar Sesión', route: '/logout' })"
      [ngClass]="{
        'activo': router.isActive('/logout', true)
      }">
      <img class="icono" src="../../../assets/images/signOutDashIcon.png" alt="Cerrar Sesión" *ngIf="authService.isAuthenticated" />
      <p>Cerrar Sesión</p>
    </button>
  </div>
  <!-- FIN Botones -->
</div>