<!-- menu.component.html -->
<div class="bg-white h-screen flex-col py-5 px-8 sidebar-container">
  <!-- INICIO Menú -->
  <div class="flex my-2">
    <img class="logo" src="../../../assets/images/logo.png" alt="Logo" />
    <p class="asumameko px-2">Asoma<span class="meko">meco</span></p>
  </div>
  <!-- FIN Menú -->

  <!-- Inicio Botones -->
  <div class="my-10">
    <button *ngFor="let item of navItems" class="botones bg-transparent my-2 menu-item" (click)="onItemSelected(item)"
      [ngClass]="{
        'activo': router.isActive(item.route, true)
      }">
      <img class="icono" [src]="item.iconPath" [alt]="item.displayName" />
      <p>{{ item.displayName }}</p>
    </button>
  </div>
  <!-- FIN Botones -->
</div>