.border-left {
  border-left: 2px solid #ececee;
}

.center {
  text-align: center;
}

.bt-invitaciones {
  background-image: url("../../../assets/images/emailIcon.png");
  background-repeat: no-repeat;
}

table {
  border-collapse: separate;
}

.colcolor {
  background-color: #f3f4f6 !important;
  text-transform: uppercase;
}

tr {
  height: 40px !important;
  color: #374151;
}

td {
  color: #6b7280;
  border: none;
}

.desactivado {
  opacity: 0.5;
  pointer-events: none;
}
