<div class="flex">
  <app-menu></app-menu>
  <div class="w-full">
    <app-header></app-header>
    <div class="bg-gray-100 w-full h-full py-1">
      <div
        class="flex bg-white mx-5 my-5 h-34 rounded-lg drop-shadow-md items-center"
      >
        <div
          class="my-5 ml-5 mx-2 py-4 px-2 w-14 h-fit bg-orange-50 rounded-lg text-center flex flex-col"
        >
          <img
            class="self-center pb-1"
            src="../../../assets/images/calendarEventIcon.png"
          />
        </div>

        <div
          *ngIf="datos"
          class="my-5 py-4 px-7 h-fit flex flex-col items-center gap-2 border-r-2"
        >
          <p class="text-xs text-gray-500">Título</p>
          <h1 class="text-sm text-black text-left">{{ datos.titulo }}</h1>
        </div>

        <div
          *ngIf="datos"
          class="my-5 py-4 px-7 h-fit flex flex-col items-center gap-2 border-r-2"
        >
          <p class="text-xs text-gray-500">Lugar</p>
          <h1 class="text-sm text-black text-left">{{ datos.localizacion }}</h1>
        </div>

        <div
          *ngIf="datos"
          class="my-5 py-4 px-7 h-fit flex flex-col items-center gap-2 border-r-2"
        >
          <p class="text-xs text-gray-500">Fecha</p>
          <h1 class="text-sm text-black text-left">{{ datos.fecha }}</h1>
        </div>
        <div
          *ngIf="datos"
          class="my-5 py-4 px-7 h-fit flex flex-col items-center gap-2"
        >
          <p class="text-xs text-gray-500">Hora</p>
          <h1 class="text-sm text-black text-left">{{ datos.hora }}</h1>
        </div>
        <div
          *ngIf="datos"
          class="my-5 py-4 px-7 h-fit flex flex-col items-end gap-2 flex-grow"
        >
          <button
            data-tooltip-target="tooltip-default"
            type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-info-square-rounded"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 9h.01" />
              <path d="M11 12h1v4h1" />
              <path
                d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
              />
            </svg>
          </button>

          <div
            id="tooltip-default"
            role="tooltip"
            *ngIf="datos"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip w-[45ch]"
          >
            Descripción del evento: {{ datos.descripcion }} <br /><br />
            Creado por: {{ datos.administrador }}
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>

      <div
        class="bg-white mx-5 my-5 h-fit rounded-lg p-2 justify-center gap-2 drop-shadow-sm"
      >
        <div class="flex w-full h-fit p-3">
          <!-- ========== Enviar Invitaciones - General  ========== -->
          <div>
            <button
              type="button"
              [disabled]="isDisabled"
              [class.isDisable]="isDisabled"
              (click)="sendEmail_General()"
              class="py-2.5 px-3 me-2 mb-2 text-sm h-fit flex gap-1 font-medium text-white rounded-lg bg-[#8197B1] hover:bg-[#6E749B] transition duration-200"
            >
              <ng-icon name="heroPaperAirplaneSolid" size="1.4em"></ng-icon>
              <p>Enviar invitaciones</p>
            </button>
          </div>

          <div>
            <button
              type="button"
              [disabled]="isDated"
              [class.isDate]="isDated"
              (click)="crear()"
              class="py-2.5 px-3 me-2 mb-2 text-sm h-fit flex gap-1 font-medium text-white rounded-lg bg-[#8197B1] hover:bg-[#6E749B] transition duration-200"
            >
              <ng-icon name="heroPlus" size="1.4em"></ng-icon>
              <p>Asignar asociado</p>
            </button>
          </div>
          <span class="example-spacer"></span>

          <!-- ========== Search Nombre  ========== -->
          <div class="max-w-md mx-auto">
            <div class="relative">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <svg
                  class="w-4 h-4 text-indigo-600"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  />
                </svg>
              </div>
              <input
                (change)="nombreChange($event)"
                type="search"
                id="default-search"
                class="block w-full h-11 p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-transparent focus:ring-indigo-600 focus:border-indigo-600"
                placeholder="Buscar por nombre"
                required
              />
            </div>
          </div>
        </div>

        <!-- ========== Table Asistencia  ========== -->
        <div class="relative overflow-x-auto p-3">
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="w-full text-sm text-left rtl:text-right"
          >
            <ng-container matColumnDef="cedula">
              <th
                scope="col"
                class="border text-xs text-black border-white colcolor rounded-tl-md"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Cédula
              </th>
              <td
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                mat-cell
                *matCellDef="let row"
              >
                {{ row.asociado.cedula }}
              </td>
            </ng-container>

            <ng-container matColumnDef="asociado">
              <th
                scope="col"
                class="border text-xs text-black border-white colcolor rounded-tl-md"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Asociado
              </th>
              <td
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                mat-cell
                *matCellDef="let row"
              >
                {{ row.asociado.nombreCompleto }}
              </td>
            </ng-container>

            <ng-container matColumnDef="confirmacion">
              <th
                scope="col"
                class="border text-xs text-black border-white colcolor"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Estado de la confirmación
              </th>
              <td
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                mat-cell
                *matCellDef="let row"
              >
                {{ row.estadoConfirmacion.nombre }}
              </td>
            </ng-container>

            <ng-container matColumnDef="asistencia">
              <th
                scope="col"
                class="border text-xs text-black border-white colcolor"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Estado de la asistencia
              </th>
              <td
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                mat-cell
                *matCellDef="let row"
              >
                {{ row.estadoAsistencia.nombre }}
              </td>
            </ng-container>

            <ng-container matColumnDef="contador">
              <th
                scope="col"
                class="border text-xs text-black border-white colcolor"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
              >
                Correos enviados
              </th>
              <td
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
                mat-cell
                *matCellDef="let row"
              >
                {{ row.contador }}
              </td>
            </ng-container>

            <ng-container matColumnDef="accion">
              <th
                scope="col"
                class="border text-xs text-center text-black border-white colcolor"
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                style="margin: 0 auto"
              >
                Acciones
              </th>

              <td mat-cell *matCellDef="let row">
                <div class="flex gap-5">
                  <button
                    mat-mini-fab
                    class="bt-invitaciones h-5 w-5"
                    matTooltip="Enviar invitación"
                    aria-label="Enviar invitación"
                    [disabled]="row.desactivado"
                    [class.desactivado]="row.desactivado"
                    (click)="
                      sendEmail_Individual(datos.idEvento, row.asociado.correo)
                    "
                  ></button>
                  <button
                  mat-mini-fab
                  class="bt-asistencia h-5 w-5"
                  matTooltip="Asistencia"
                  aria-label="Asistencia"
                  [disabled]="row.disable"
                  [class.desactivado]="row.disable"
                  (click)="updateAsistencia(row.asociado.idUsuario, row.asociado.nombreCompleto)"
                  ></button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div>
            <mat-paginator
              #paginator
              [lang]="'es'"
              [length]="dataSource.data.length"
              [pageIndex]="0"
              [pageSize]="5"
              aria-label="Seleccione una página"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-evento-asociado #asociadoModal></app-evento-asociado>
<app-evento-asistencia #updateAsistenciaModal></app-evento-asistencia>